# Git and version control
.git
.gitignore

# Dependencies - these will be installed inside the container
node_modules
backend/node_modules

# Build output - this will be generated inside the container
dist
build

# IDE & Editor specific files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System specific files
.DS_Store
Thumbs.db

# Environment variables - should be configured in the deployment environment
.env
.env.*